<ng-container *ngIf="product">
  <img [src]="product.url" [alt]="product.name" />

  <section class="details">
    <div class="details__header">
      <h2>{{ product.name }}</h2>
      <p>{{ product.price | currency }}</p>
    </div>

    <app-add-to-cart-form
      [quantity]="quantityInCart"
      (onFormSubmit)="updateCart($event)"
    ></app-add-to-cart-form>

    <div class="details__description">
      <h3>Description</h3>
      <p>{{ product.description }}</p>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="!isProductFound">
  <h2 class="not-fount-error-message">Product not found!</h2>
</ng-container>
