<ng-container *ngIf="!isCartEmpty; else elseBlock">
  <section class="cart">
    <ul>
      <li *ngFor="let cartItem of cartItems">
        <app-cart-item
          [cartItem]="cartItem"
          (onCartItemQuantityChange)="updateCartItem(cartItem.product, $event)"
          (onCartItemDelete)="removeCartItem(cartItem.product)"
        ></app-cart-item>
      </li>
    </ul>

    <span
      class="message--invalid"
      *ngIf="message"
      title="Dismiss message"
      (click)="message = undefined"
      >{{ message }}</span
    >

    <span class="cart-total">
      Total:
      <span class="cart-total-val">{{ cartTotal | currency }}</span>
    </span>
  </section>

  <app-checkout-form
    (onCheckoutFormSubmit)="checkout($event)"
  ></app-checkout-form>
</ng-container>

<ng-template #elseBlock>
  <h2 class="empty-cart-message">Your cart is empty!</h2>
</ng-template>
