h1 {
  color: var(--primary-color);
  font-family: "Sacramento", cursive;
  font-size: 7.2rem;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0.8em;
}

.container {
  margin: 0 auto;
}

app-nav-bar {
  margin-bottom: 5.4rem;
}

@media (min-width: 577px) {
  .container {
    max-width: 469px;
  }
}

@media (min-width: 830px) {
  .container {
    max-width: 720px;
  }
}
