:host {
  background-color: white;
  display: block;
  width: 21.8rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  overflow: clip;
}

img {
  max-width: 100%;
  height: auto;
}

.product-details {
  font-weight: bold;
  padding: 1rem 2rem;
}

.product-details__name {
  display: block;
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.product-details__name:hover {
  text-decoration: underline;
}

.product-details__price {
  color: var(--secondary-color);
  font-size: 1.4rem;
}
