:host {
  background-color: white;
  display: block;
  box-shadow: var(--shadow-medium);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

label {
  color: var(--secondary-color);
  font-size: 1.8rem;
  margin-right: 1rem;
}

input {
  width: 5rem;
  font-size: 1.4rem;
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 0.3em 0.5em;
}

input:active,
input:focus {
  border: none;
  outline: 2px solid var(--primary-color);
}

.message--invalid {
  background-color: var(--invalid-background-color);
  border-radius: var(--border-radius);
  color: var(--invalid-color);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

button {
  border: none;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  color: white;
  font-size: 1.8rem;
  padding: 0.3em 0.5em;
  width: 100%;
}

button:not(:last-child) {
  margin-bottom: 1.5rem;
}

button:hover {
  background-color: #0da8b2;
  cursor: pointer;
}

button[disabled],
button[disabled]:hover {
  background-color: var(--secondary-color);
  cursor: default;
}

p.message--success {
  background-color: #d2efcf;
  border-radius: var(--border-radius);
  color: var(--success-color);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
}
