:root {
  --primary-color: #0a939c;
  --primary-background-color: #d2f2f3;
  --secondary-color: #6c6c6c;
  --invalid-color: #de6b6b;
  --invalid-background-color: #efd3d3;
  --success-color: #6bc763;
  --success-background-color: #d2efcf;
  --border-radius: 6px;
  --shadow-medium: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@font-face {
  font-family: "Sacramento";
  src: url("assets/fonts/Sacramento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  padding: 5.4rem;
  background-color: #fafafa;
}
