:root {
  --primary-color: #0a939c;
  --primary-background-color: #e4feff;
  --secondary-color: #6c6c6c;
}

@font-face {
  font-family: "Sacramento";
  src: url("assets/fonts/Sacramento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  padding: 5.4rem;
  background-color: #fafafa;
}
